
<div class="container text-center">
  <div class="vh">
      <br>

      <br>
      <h1>Etude de 3 start-up à succès d'Amérique du Sud</h1>
      <br>
      <br>
      <br>
      <%= image_tag "southamerica.png" %>

  </div>

  <div class="vh">
    <%= image_tag "rappi.png", class: "logobot" %>
    <p class: "logobot"><strong>Application mobile de livraison à la demande</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
         <br>
         <p>Date de création : 2015</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>S.Borrero, S.Meija, F.Villamarin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>1400 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "co.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "rappifounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "rappialexa.png", height: '100' %>
      </div>

    </div>

  </div>
  <div class="vh text-center">
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>
    <p style="font-size: 24px">Comissions sur les livraisons</p>
    <p style="font-size: 24px">Ventes publicitaires</p>
    <p style="font-size: 24px">Revente de données collectées</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>Chiffre d'affaires</h3>
        <p>45 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Capitalisation</h3>
        <p>1 000 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Fundraising</h3>
        <p>440 M$</p>
      </div>
    </div>
  </div>





  <div class="vh">
    <%= image_tag "nubank.jpg", height: '200', width:'300', class: "logobot" %>
    <p class: "logobot"><strong>Application mobile de livraison à la demande</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <br>
         <p>Date de création : 2013</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>D.Velez, E.Wible, C.Junqueira</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>1000 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "br.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "nubankfounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "nubankalexa.png", height: '100' %>
      </div>

    </div>
  </div>
  <div class="vh text-center">
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>
    <p style="font-size: 24px">Intérets des opérations</p>
    <p style="font-size: 24px">Avoir le plus d'utilisateurs possible</p>
    <p style="font-size: 24px">Réinvestir dans la croissance</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>Chiffre d'affaires</h3>
        <p>170 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Capitalisation</h3>
        <p>4 000 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Fundraising</h3>
        <p>500 M$</p>
      </div>
    </div>
  </div>



  <div class="vh">
    <%= image_tag "mL.png", height: '150', width:'300', class: "logobot" %>
    <p class: "logobot"><strong>Application mobile de livraison à la demande</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <br>
         <p>Date de création : 1999</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>Marcos Galperin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>5500 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "ar.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "mlfounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "mlalexa.png", height: '100' %>
      </div>

    </div>
  </div>
  <div class="vh text-center">
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>
    <p style="font-size: 24px">Commssions sur les ventes</p>
    <p style="font-size: 24px">Freemium</p>
    <p style="font-size: 24px">Commercialisations d'espaces pub</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>Chiffre d'affaires</h3>
        <p>1 466 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Capitalisation</h3>
        <p>13 000 M$</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Fundraising</h3>
        <p>700 M$</p>
      </div>
    </div>
  </div>



</div>


