<div class="container text-center">
  <div class="vh">
      <br>

      <br>
      <h1>Etude de 3 start-up à succès d'Amérique du Sud</h1>
      <br>
      <br>
      <br>
      <%= image_tag "southamerica.png" %>
      <br>
      <h3>Lien pour suivre : <a href="goo.gl/KJaNEB">goo.gl/KJaNEB</a></h3>

  </div>
  <br>
  <br>
  <br>
  <br id="rappi">
  <div class="vh">
    <%= image_tag "rappi.png", class: "logobot" %>
    <p class: "logobot"><strong>Application mobile de livraison à la demande</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
         <br>
         <p>Date de création : 2015</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>S.Borrero, S.Meija, F.Villamarin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>1400 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "co.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "rappifounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "rappialexa.png", height: '100' %>
      </div>

    </div>

  </div>
  <div class="vh text-center">
    <%= image_tag "rappi.png", height:'100', width:'100' %>
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>
    <p style="font-size: 24px">Comissions sur les livraisons</p>
    <p style="font-size: 24px">Ventes publicitaires</p>
    <p style="font-size: 24px">Revente de données collectées</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>Chiffre d'affaires</p>
        <h3>45 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Capitalisation</p>
        <h3>1 000 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Fundraising</p>
        <h3>440 M$</h3>
      </div>
    </div>
  </div>





  <div class="vh">
    <%= image_tag "nubank.jpg", height: '200', width:'300', class: "logobot" %>
    <p class: "logobot"><strong>1ere banque numérique au monde hors Asie</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <br>
         <p>Date de création : 2013</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>D.Velez, E.Wible, C.Junqueira</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>1000 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "br.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "nubankfounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "nubankalexa.png", height: '100' %>
      </div>

    </div>
  </div>
  <div class="vh text-center">
    <%= image_tag "nubank.jpg", height:'100', width:'150' %>
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>

    <p style="font-size: 24px">Intérets des opérations</p>
    <p style="font-size: 24px">Avoir le plus d'utilisateurs possible</p>
    <p style="font-size: 24px">Réinvestir dans la croissance</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>Chiffre d'affaires</p>
        <h3>170 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Capitalisation</p>
        <h3>4 000 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Fundraising</p>
        <h3>700 M$</h3>
      </div>
    </div>
  </div>



  <div class="vh">
    <%= image_tag "mL.png", height: '150', width:'300', class: "logobot" %>
    <p class: "logobot"><strong>1ere marketplace e-commerce d'Amérique Latine</strong></p>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <br>
         <p>Date de création : 1999</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>Marcos Galperin</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <br>
        <p>5500 employés</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "ar.png", height: '100' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "mlfounder.jpg", height: '200' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "mlalexa.png", height: '100' %>
      </div>

    </div>
  </div>
  <div class="vh text-center">
    <%= image_tag "mL.png", height:'100', width:'300' %>
    <%= image_tag "bm.jpg", height:'200', width: '450' %>
    <br>
    <br>

    <p style="font-size: 24px">Commssions sur les ventes</p>
    <p style="font-size: 24px">Freemium</p>
    <p style="font-size: 24px">Commercialisations d'espaces pub</p>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>Chiffre d'affaires</p>
        <h3>1 466 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Capitalisation</p>
        <h3>13 000 M$</h3>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>Fundraising</p>
        <h3>700 M$</h3>
      </div>
    </div>
  </div>



</div>


